<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курс Валют</title>
  </head>
  <body>
    <center>
      <h1>Добро пожаловать на Exchange Currency</h1>
    </center>
    <center>
        <h1>Здесь вы можете узнать курс на валюты всего мира к ₽</h1>
      </center>
      <center>
        <table style="border: 3px solid rgb(42, 9, 159);">
            <thead>
              <tr>
                <th style="border: 3px solid rgb(42, 9, 159);">Название</th>
                <th style="border: 3px solid rgb(42, 9, 159);">Код</th>
                <th style="border: 3px solid rgb(42, 9, 159);">Кол-во</th>
                <th style="border: 3px solid rgb(42, 9, 159);">Цена</th>
                <th style="border: 3px solid rgb(42, 9, 159);">Изменение</th>
                <th style="border: 3px solid rgb(42, 9, 159);">Процент</th>
              </tr>
            </thead>
            <tbody>
                {{ range .DatesCurrency}}
              <tr>
                <td style="border: 3px solid rgb(42, 9, 159);">{{ .Name }}</td>
                <td style="border: 3px solid rgb(42, 9, 159);">{{ .Code }}</td>
                <td style="border: 3px solid rgb(42, 9, 159);">{{ .Value }}</td>
                <td style="border: 3px solid rgb(42, 9, 159);">{{ .Price }}</td>
                <td style="border: 3px solid rgb(42, 9, 159);">{{ .Change }}</td>
                <td style="border: 3px solid rgb(42, 9, 159);">{{ .Percent }}</td>
              </tr>
              {{ end }}
            </tbody>
          </table>
      </center>
      <center>
        <form action="http://localhost:8010/">
          <button type="submit">Обновить данные</button>
        </form>
      </center>
      <center>
        <form action="http://localhost:8010/calculate">
          <button type="submit">Калькулятор</button>
        </form>
      </center>
      <center>
        <form action="http://localhost:8010/crypto">
          <button type="submit">Криптовалюта</button>
        </form>
      </center>
  </body>
</html>